@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap");

:root {
  --light: #e3e3db;
  --dark: #0f0f0f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Instrument Serif", sans-serif;
  background-color: var(--light);
  color: var(--dark);
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

h1 {
  font-size: clamp(5rem, 6vw, 7rem);
  font-weight: 500;
  line-height: 0.8;
}

h2 {
  font-size: clamp(3rem, 5vw, 5rem);
  font-weight: 500;
}

p {
  font-size: 1.35rem;
  line-height: 1;
}

section {
  position: relative;
  width: 100%;
  height: 100svh;
  overflow: hidden;
}

.hero {
  perspective: 1000px;
  color: var(--light);
}

.sky-container,
.hero-copy,
.window-container,
.hero-header {
  position: absolute;
  inset: 0;
  width: 100%;
  will-change: transform;
}

.sky-container {
  height: 350svh;
}

.hero-copy {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-copy h1 {
  width: 85%;
}

.window-container {
  position: relative;
  height: 100svh;
}

.window-container h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  opacity: 0;
  pointer-events: none;
}

.hero-header {
  height: 100svh;
  padding: 2rem;
  display: flex;
  transform-style: preserve-3d;
}

.hero-header .col {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero-header .col p {
  width: 50%;
}

.hero-header .col:nth-child(2) {
  align-items: flex-end;
  text-align: right;
}

.outro {
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1000px) {
  h1 {
    font-size: 3rem;
  }
  p {
    font-size: 1.125rem;
  }
}
